@charset "UTF-8";

/*configurações gerais*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #BA83E0;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #F8F3F7;
    text-shadow: 2px 2px 0px black;
    padding: 10px;
}