@charset "UTF-8";

@media screen and (min-width: 992px) {
    span#hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav > ul > li {
        display: inline-block;
    }

    main {
        width: 992px;
    }
}